/* Write your CSS here */
.body-container {
  display: flex;
  min-height: 300px;
  margin-top: 5px;
  justify-content: space-between;
  margin-bottom: 5px;
}
.leftNav {
  background-color: #cbd5e1;
  width: 300px;
  text-align: center;
}
.rightNav {
  background-color: #cbd5e1;
  width: 300px;
  text-align: center;
}
.content {
  min-height: 40%;
  padding-left: 20px;
  padding-right: 20px;
}
ul {
  list-style-type: none;
}
